.body-container {
    margin: auto;
    width: 80%;
    margin-top: 30px;
}

.sections {
    display: flex;
    flex-direction: row;
}

.general-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.general-details img {
    margin-right: 30px;
}

.general-details table {
    height: 100%;
    border-collapse: separate;
}

table {
    width: 100%;
}

td {
    padding-right: 10px;
}